h1{
    color:green;
    font-family: sans-serif;
    
}
ul{
list-style-type: square;
}

ol{

list-style-type: upper-roman;
}



#menu-bar a{
    text-decoration: none;
    background-color:aquamarine;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    colour:#ffff
}

